<!-- admin page -->

<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Admin's Page</h2>
                <h3 class="section-subheading text-muted">You are in control of all users and products. Handle with care!</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">All Interviews</h3>
                    <br>
                <filter product-model="productFilter" is-product></filter>
                    <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="product in products | filter:productFilter">
                <a ui-sref="product({productId:product._id})" class="portfolio-link" data-toggle="modal">
                    <div class='img-holder'>
                        <img src="{{product.photoUrl}}" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>{{product.title}}</h4>
                        <p class="text-muted">{{product.price}}</p>              
                    </div>    
                </a>
                <div class='btn-centered'>
                    <button class="btn btn-delete" ng-click="removeProduct(product)"><p class="warn">delete this product</p></button>
                </div>
            </div>          
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">All Users</h3>
                <br>
                <filter user-model="userFilter" is-user></filter>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="user in users | filter:userFilter">
                <!-- <a ui-sref="product({productId:product._id})" class="portfolio-link" data-toggle="modal"> -->
                    
                    <img src="{{user.photoUrl}}" class="img-responsive img-centered img-holder" alt="">

                    <div class="portfolio-caption">
                        <h4>{{user.firstName}} {{user.lastName}}</h4>
                        <p class="text-muted">{{user.email}}</p>              
                    </div>
                <!-- </a> -->
                <div class="btn-centered">
                    <button class="btn btn-delete" ng-click="removeUser(user)"><p class="warn">delete this user</p></button>
                </div>
            </div>          
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">All Carts</h3>
                    <br>
                <filter cart-model="cartFilter" is-cart></filter>
                    <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="cart in carts | filter:cartFilter">
                <!-- <a ui-sref="cart({cartId:cart._id})" class="portfolio-link" data-toggle="modal"> -->
                    <div class='img-holder'>
                        <img src="{{cart.customer.photoUrl}}" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <h4>{{cart.customer.firstName}} {{cart.customer.lastName}}</h4>
                        <p class='text-muted'>{{cart.status}}</p>             
                    </div>    
                <!-- </a> -->
                <div class='btn-centered'>
                    <button class="btn btn-delete" ng-click="removeCart(cart)"><p class="warn">delete this cart</p></button>
                </div>
            </div>          
        </div>

    </div>
</section>