#portfolio .portfolio-item .portfolio-caption p{
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #777777;
	text-decoration: none;
	border-bottom: none;
}