<div class="main-content">

    <form class="form-register" id="course-creation-form" ng-submit='createCourse()' name='productForm' novalidate>

        <div class="form-register-with-email">

            <div class="form-white-background">

                <div class="form-title-row">
                    <h1>Create an Interview Product</h1>
                </div>

                <div class="form-row" ng-class="{ 'has-error' : productForm.title.$invalid && !productForm.title.$pristine }">
                    <label>
                        <span>What would you like to call your course?</span>
                        <input type="text" name="title" placeholder="Technical Interview for Google" id="course-creation-title" ng-model="newProduct.title" required>
                        <p ng-show="productForm.title.$invalid && !productForm.title.$pristine" class="help-block">A title is needed.</p>
                    </label>
                </div>

                <div class="form-row" ng-class="{ 'has-error' : productForm.description.$invalid && !productForm.description.$pristine }">
                    <label>
                        <span>Please provide a short description:</span><br>
                        <textarea type="text" name="description" rows="4" cols="100" placeholder="description" id="course-creation-description" ng-model="newProduct.description" required></textarea>
                        <p ng-show="productForm.description.$invalid && !productForm.description.$pristine" class="help-block">A description is needed.</p>
                    </label>
                </div>

                <div class="form-row" ng-class="{ 'has-error' : productForm.price.$invalid && !productForm.price.$pristine }">
                    <label>
                        <span>What is the hourly rate for your time? $</span>
                        <input type="text" name="price" placeholder="9999.99" id="course-creation-price" ng-model="newProduct.price" required>
                        <p ng-show="productForm.price.$invalid && !productForm.price.$pristine" class="help-block">A price is needed.</p>
                    </label>
                </div>

                <div class="form-row" ng-class="{ 'has-error' : productForm.quantity.$invalid && !productForm.quantity.$pristine }">
                    <label>
                        <span>How many one hour interviews will be available?</span>
                        <input type="text" name="quantity" placeholder="999" id="course-creation-hour" ng-model="newProduct.quantity" required>
                        <span>interviews</span>
                        <p ng-show="productForm.quantity.$invalid && !productForm.quantity.$pristine" class="help-block">A quantity is needed.</p>
                    </label>
                </div>

                <div class="form-row" ng-class="{ 'has-error' : productForm.photoUrl.$invalid && !productForm.photoUrl.$pristine }">
                    <label>
                        <span>Add a photo URL if you have one</span>
                        <input type="text" name="quantity" placeholder="something.png" id="course-creation-title" ng-model="newProduct.photoUrl" required>
                    </label>
                </div>

                <div class="form-row" ng-class="{ 'has-error' : productForm.categories.$invalid}">
                    <label>Pick all categories that apply (hold command to select more than one):</label>
                    <br>
                    <select multiple ng-options="category._id as category.name for category in allCategories" ng-model="category" id="product-creation-categories" required> 
                    </select>
                </div>

                <br>

                <div class="form-row">
                    <button type="submit" ng-disabled="productForm.$invalid">Create Course</button>
                </div>

            </div>

        </div>

    </form>

</div>