<div class="main-content">

    <form class="form-register" method="post" id="course-creation-form" ng-submit='createCourse()'>

        <div class="form-register-with-email">

            <div class="form-white-background">

                <div class="form-title-row">
                    <h1>Create an Interview Product</h1>
                </div>

                <div class="form-row">
                    <label>
                        <span>What would you like to call your course?</span>
                        <input type="text" name="title" placeholder="Technical Interview for Google" id="course-creation-title" ng-model="newProduct.title">
                    </label>
                </div>

                <div class="form-row">
                    <label>
                        <span>Please provide a short description:</span><br>
                        <textarea type="text" name="description" rows="4" cols="100" placeholder="description" id="course-creation-description" ng-model="newProduct.description"></textarea>
                    </label>
                </div>

                <div class="form-row">
                    <label>
                        <span>What is the hourly rate for your time? $</span>
                        <input type="text" name="price" placeholder="9999.99" id="course-creation-price" ng-model="newProduct.price">
                    </label>
                </div>

                <div class="form-row">
                    <label>
                        <span>How many one hour interviews will be available?</span>
                        <input type="text" name="quantity" placeholder="999" id="course-creation-hour" ng-model="newProduct.quantity">
                        <span>interviews</span>
                    </label>
                </div>
                <br>
                <div class="form-row">
                    <label class="form-checkbox">
                        <input type="checkbox" name="checkbox" checked>
                        <span>I agree to the <a href="#">terms and conditions</a></span>
                    </label>
                </div>
                <br>
                <div class="form-row">
                    <button type="submit">Create Course</button>
                </div>

            </div>

        </div>

    </form>

</div>