<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="product-single">
                <!-- Product Details Go Here -->
                <br><br>
                <h2>{{ product.title }}</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-responsive img-centered product-image" src="../../../static/img/AngularJS_Interview.png" alt="">
                <p>{{ product.description }}</p>
                <p><strong>Price: ${{ product.price }}/hour</strong></p>
                <ul class="list-inline">
                    <li>Interviewer: {{ product.user.name.firstName }} {{ product.user.name.lastName }}</li> 
                    <br>
                    <li>Category: {{ product.category.name }}</li>
                    <br>
                </ul>
                <button type="button" class="btn btn-primary" ng-click ="addToCart(product)"><i class="fa fa-plus"></i> Add to Cart</button>
            </div>
            <br>
            <div class="product-reviews">
                <h3 class="review-section-title">Customer Reviews</h3>
                <br>

                <div ng-show="noReviews">
                    <p>Be the first to review this item. Share your rating and review so that other customers can decide if this is the right item for them.</p>
                </div>

                <button class="btn btn-default" ng-hide="typingReview" ng-click="toggleWrite()">Write a review</button>
                <button class="btn btn-default" ng-show="typingReview" ng-click="toggleWrite()">Cancel review</button>
                
                <write-review product-id="{{ product._id }}" ng-show="typingReview" hideform="toggleWrite()"></write-review>

                <div ng-hide="noReviews">
                    <div ng-show="lessReviewsThanLimit">
                        <p>Showing {{ reviewAmount }} review(s).</p>
                    </div>
                    <div ng-hide="lessReviewsThanLimit">
                        <p ng-show="reviewsLimited">Showing {{ reviewDisplayLimit }} out of {{ reviewAmount }} reviews.</p>
                        <p ng-show="reviewsLimited"><a ng-click="showAllReviews()">See all reviews.</a></p>
                        <p ng-hide="reviewsLimited">Showing all {{ reviewAmount }} reviews.</p>
                        <p ng-hide="reviewsLimited"><a ng-click="showLessReviews()">Show less reviews</a></p>
                    </div>
                </div>

                    <ul class="list-inline review-info" ng-repeat="review in reviews | limitTo:reviewDisplayLimit">
                        <li>{{ review.stars }} stars <strong>{{ review.title }}</strong></li>
                        <br>
                        <li>By John on {{ review.date | date:'MM/dd/yyyy' }}</li>
                        <br>
                        <li>{{ review.content }}</li>
                        <br>
                        <br>
                    </ul>

            </div>

        </div>
    </div>
</div>


