<div ng-show = 'isProduct' >
	<label>Search By Title: <input ng-model='title' placeholder="Title"></label>
	<label>Search By Interviewer Name: <input ng-model="interviewerName" placeholder="Interviewer Name"></label>
	<label>Search By Category: <select ng-model="chosenCategory" ng-options= "category._id as category.name for category in categories"></select>
</div>

<!-- <div ng-show = 'isProduct' >
	<h4>There are no interviews right now!</h4>
</div> -->

<div ng-show = 'isUser'>
	<label>Search By last name: <input ng-model='lastName' placeholder="Smith"></label>
	<label>Search By email: <input ng-model="email" placeholder="smith123@gmail.com"></label>
</div>

<!-- <div ng-show = 'isUser' >
	<h4>There are no users right now!</h4>
</div>
 -->

 <div ng-show = 'isCart' >
	<label>Search By Title: <input ng-model='lastName' placeholder="Smith"></label>
</div>