<div class="container">

	<div class="row">
		<div class="cart-view col-lg-12">

			<h2>Previous Orders</h2>

			<div class="prev-order" ng-repeat="order in orders">

				<h3>Order #{{ $index }}</h3>

				<div class="cart-header">
					<h4 class="header-price">Price</h4>
					<h4 class="header-quantity">Quantity</h4>
					<h4 class="header-total">Total</h4>
				</div>

				<div class="cart-item" ng-repeat="productObj in order.productList">

					<div class="cart-item-img">
						<img src="{{productObj.product.interviewer.photoUrl}}">
					</div>
					<div class="cart-item-info">
						<h3>{{productObj.product.interviewer.firstName}} {{productObj.product.interviewer.lastName}}</h3>
						<h4>{{productObj.product.title}}</h4>
					</div>
					<div class="cart-item-price">{{productObj.product.price | currency}}</div>
					<div class="cart-item-qty">
						<span>{{productObj.quantity}}</span>
					</div>
					<div class="cart-item-total">
						<h3>{{ (productObj.quantity * productObj.product.price) | currency}}</h3>
					</div>

				</div> <!-- end .cart-item -->

			</div> <!-- end .prev-order -->

		</div> <!-- end .cart-view -->

	</div> <!-- end .row -->

</div> <!-- end .container -->