<!-- Write review directive -->
<br><br>

<form name="reviewform" ng-submit="addReview()" novalidate>
	<div class="form-group clearfix">
		
		<input type="text" name="title" ng-model="reviewTitle" placeholder="Title" maxlength="100" required>
		<span ng-show="reviewform.title.$error.required && reviewform.title.$touched">Title is required</span>
		<br>
		
		<textarea name="content" rows="4" placeholder="Your review" ng-model="reviewContent" minlength="20" required></textarea>
		<br>
		<span ng-show="reviewform.content.$error.required && reviewform.content.$touched">Review content is required<br></span>
		<span ng-show="reviewform.content.$error.minlength && reviewform.content.$dirty">Review is too short<br></span>

		<select name="rating" ng-model="stars" required>
			<option value="" disabled selected>Select star rating</option>
			<option ng-repeat="stars in starRating">{{ stars }}</option>
		</select>
		<span ng-show="reviewform.rating.$error.required && reviewform.rating.$touched"><br>Star rating is required</span>

		<button type="submit" class="btn btn-primary pull-right" ng-disabled="reviewForm.$invalid">Submit Review</button>

	</div>
</form>